form {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  max-width: 500px;
  margin: auto;
}
label {
  color: white;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-color: rgb(15, 14, 14);
  color: white;
  background-color: var(--header-bg);
  color: var(--text-color);
}
