.pro-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.all-projects {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem; 
    padding-bottom: 2rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.project-card{
    background: rgb(28, 28, 15);
    padding: 1.2rem 1rem;
    border-radius: 10px;
}

.project-card img{
    width: 100%;
    border-radius: 10px;
}

.project-title{
    color: white;
    padding: 1rem 0;
}

.project-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.project-details .btn{
    margin: 1rem 4.5rem;
}

.project-card:hover{
    background: rgb(22, 21, 21);
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}

@media screen and (max-width: 740px) {
    .all-projects {
        grid-template-columns: 1fr; 
        grid-gap: 1rem; 
    }

    .project-container{
        margin-bottom: 1rem;
    }
}
